@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background: #13414d;
}

/* LoginForms */

.loginHeading {
  display: flex;
  flex-direction: column;

}

.loginHeading > h1 {

}



/* LoginForms */
