@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%
}

body {
  font-family: Roboto, sans-serif;
  color: white;
  background: #13414d;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Get Started */
.get-started {
  margin-top: 1vh;
  margin-left: 3vw;
  font-size: 1.3rem;
  padding-bottom: 5px;

  width: max-content;
  border-bottom: solid green;
}

.get-started:hover {
  cursor: pointer;
}
/* Get Started */

/* Logins */
.login-heading {
  display: flex;
  flex-direction: column;

  gap: 15px;
  padding: 10px;
}

.login-heading > h1 {
  font-size: 2.5rem;
}

.login-heading > p {
  font-size: 1.1rem;
  word-spacing: 2px;
}

.login {
  margin-top: 9vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;

  text-align: center;
}

.facebook, .google, .github{
  font-size: 1.15rem;

  padding: 10px;
  border-radius: 10px;

  width: 65vw;

  display: flex;
  align-items: center;
  gap: 15px;
}


.facebook {
  background: #1b74f4;
}

.google {
  background: white;
  color: black;
}

.github {
  background: gray;
}
/* Logins */

/* BACK */

.back {
  padding: 5px 0 0 5px;
  height: 5vh;
}

/* BACK */


/* FORM */
.login-box {
  width: 400px;
  padding: 40px;
}

.login-box h2 {
  margin: 0 0 25px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid green;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -25px;
  left: 0;
  font-size: 1.1rem;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 3px
}

.getting-started-next {
  margin-left: 30vw;
}
/* FORM */


/* CHECKBOX */
 .checkbox-wrapper-34 {
   --blue: green;
   --g08: red;
   --g04: white;

   font-size: 1.1rem;
   margin-top: 15px;
 }

.checkbox-wrapper-34 .tgl {
  display: none;
}
.checkbox-wrapper-34 .tgl,
.checkbox-wrapper-34 .tgl:after,
.checkbox-wrapper-34 .tgl:before,
.checkbox-wrapper-34 .tgl *,
.checkbox-wrapper-34 .tgl *:after,
.checkbox-wrapper-34 .tgl *:before,
.checkbox-wrapper-34 .tgl + .tgl-btn {
  box-sizing: border-box;
}
.checkbox-wrapper-34 .tgl::selection,
.checkbox-wrapper-34 .tgl:after::selection,
.checkbox-wrapper-34 .tgl:before::selection,
.checkbox-wrapper-34 .tgl *::selection,
.checkbox-wrapper-34 .tgl *:after::selection,
.checkbox-wrapper-34 .tgl *:before::selection,
.checkbox-wrapper-34 .tgl + .tgl-btn::selection {
  background: none;
}
.checkbox-wrapper-34 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 57px;
  height: 27px;
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: 12px;
  font-weight: 400;

  color: #fff;
}
.checkbox-wrapper-34 .tgl + .tgl-btn:after,
.checkbox-wrapper-34 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 44%;
  height: 100%;
}
.checkbox-wrapper-34 .tgl + .tgl-btn:after {
  left: 0;
}
.checkbox-wrapper-34 .tgl + .tgl-btn:before {
  display: inline;
  position: absolute;
  top: 7px;
}
.checkbox-wrapper-34 .tgl:checked + .tgl-btn:after {
  left: 56.5%;
}

.checkbox-wrapper-34 .tgl-ios + .tgl-btn {
  background: var(--g08);
  border-radius: 20rem;
  padding: 2px;
  transition: all 0.4s ease;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.checkbox-wrapper-34 .tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #13414d;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-wrapper-34 .tgl-ios + .tgl-btn:before {
  content: "No";
  left: 28px;
  color: var(--g04);
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.checkbox-wrapper-34 .tgl-ios + .tgl-btn:active:after {
  padding-right: 0.4em;
}
.checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn {
  background: var(--blue);
}
.checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:active {
  box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
}
.checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -0.4em;
}
.checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:before {
  content: "Yes";
  left: 4px;
  color: #fff;
}

/* CHECKBOX */
